.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

  del{
    color: red;
  }

  .product-img {
    overflow: hidden;
  }
  .product-img img:hover{
    transform: scale(1.1);
  }